html,
body {
  font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
  margin: 0%;
  padding: 0%;

  height: 100%;
}
body {
  display: grid;
}
main {
  padding: 16px;
  margin-bottom:50px;
}

footer {
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: lightseagreen;
    background-color: peachpuff;
  }

img {
    height: 200px;
}

nav {
    border-bottom: 1px lightseagreen;
    padding: 16px;
    background-color: peachpuff;
 }

a:-webkit-any-link {
  color: lightseagreen;
  cursor: pointer;
  text-decoration: plum;
  text-align: center;
  padding-left: 0%;
}

a:hover {
  text-decoration:plum;
  color: lightsteelblue;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 1fr;
  grid-template-rows: auto;
  height: 80%;
  column-gap: 5px;
  box-shadow: 0px 1px 3px 2px lightseagreen;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px
}

h1 {
  color: lightseagreen;
}

h2 {
  color: peachpuff;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0%;
  margin-inline-end: 0px;
  font-weight: normal;
}
